body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(porad_bookletX_92fe25c4897989ed4edfcf67f7d25f8b-960.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    margin-bottom: 100px;
}

nav {
    background-color: #00000000;
    border-bottom: 3px solid black;
}

nav ul {
    background-color: #00000000;  
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    margin: 39px;
}

nav ul li a:hover {
    color: #ffffff99;
    border-bottom: 2px solid #fff;
    font-size: 35px;
    margin: 20px;
    transition: all 0.5s;
}

h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

h1:hover {
    font-size: 200px;
    transition: font-size 10s;
}

main{
    max-width: 1000px;
    margin: 0 auto;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
}
  
td {
    background-color: #dddddd;
}

.col.span-5-of-11 {
    margin-bottom: 100px;
    background-color: rgb(225, 225, 225);
    padding: 15px;
    width: 40%;
}

.col.span-5-of-11 p, ul, h4 {
    background-color: rgb(200,200,200);
    margin: 0 auto;
    width: 70%;
    padding: 10px;
}

.col.span-5-of-11 li {
    margin-left: 10px;
}

#zacatek2s {
    border-bottom: 3px solid black;
}

.col.span-5-of-11:nth-child(even),
.col.span-5-of-11:nth-child(even) {
    margin-right: 100px;
}

.podpora {
    display: block;
    width: 50%;
    margin: 50px auto;
    background-color: rgb(255, 255, 176);
    text-align: center;
    padding: 10px;
}

.podpora input {
    display: block;
    margin: 10px auto;
    padding: 7px;
    width: 30%;
    border: 1px solid black;
    border-radius: 10px;
}

.podpora input[type="submit"] {
    width: 40%;
}

.podpora input:hover[type="submit"] {
    background-color: blue;
    color: white;
    padding: 10px;
    width: 45%;
    transition: all 0.5s;
}

.podpora input:active[type="submit"] {
    background-color: blue;
    color: white;
    padding: 3px;
    width: 35%;
    transition: all 1s;
}

.podpora textarea {
    max-width: 90%;
}

footer {
    background-color: #dddddd;
    text-align: center;
    padding: 10px;
}